* {
    box-sizing: border-box;
}

.App {
  width: 80%;
  margin: 0 auto;
  font-family: sans-serif;
}

.search__input {
  padding: 0.5rem;
  width: 100%;
}

.user {
  display: flex;
  box-sizing: border-box;
  padding: 1rem 0;
}

.user__img {
  width: 20%;
  height: 20%;
  margin-right: 2rem;
}

.user__name {
  margin: 0
}

.user__name a {
  color: rgb(37, 37, 37);
  text-decoration: none;
}

.user__relations {
  padding-left: 0rem;
}
.user__relations li {
  list-style-type: none;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.actions__button {
  padding: 0.5rem;
  font-size: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}
